.selector {
  margin-top: 5%;
}
.buttons {
  margin-top: 2%;
  margin-bottom: 1%;
}

.rewrite {
  margin-top: 2%;
  margin-bottom: 2%;
}

.openmodpackfolder {
  margin-bottom: 2%;
}

.progress-separator {
  margin-bottom: 1%;
}
