.decorations {
  display: grid;
  position: relative;
  margin-right: 2%;
  justify-content: end;
}

.decoration-item {
  margin-top: 16px;
}

.decorations-in {
  margin-top: 1%;
}
.language {
  margin-top: 2%;
}
