.container {
  display: grid;
  align-items: center;
  place-items: center;
  justify-content: center;
}
.progress,
.alert {
  justify-content: center;
  align-items: center;
  place-items: center;
  margin-top: 2%;
}

.progress {
  justify-content: center;
  align-items: center;
}

.button {
  margin-top: 5%;
}

.closebutton-separator {
  margin-top: 5%;
}
